<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--
         数据库连接字符串
         Database connection string
         Sql Server <multipleactiveresultsets=true;server=(local);user id=sa;password=sa;database=dboxshare;>
         MySQL <server=localhost;port=3306;max pool size=512;charset=utf8;user id=root;password=root;database=dboxshare;>
    -->
    <add key="ConnectionString" value="server=localhost;port=3306;max pool size=512;charset=utf8;user id=root;password=root;database=dboxshare;" />

    <!--
         存储文件夹路径
         Storage folder path
    -->
    <add key="StoragePath" value="C:\...\storage" />

    <!--
         处理任务分配用于多台服务器协作
         0~9表示FileId的余数(不能重复分配)
         Processing task allocation for multi server collaboration
         0~9 is the remainder of fileid(it can't be repeated)
    -->
    <add key="TaskAssign" value="0123456789" />

    <!--
         文件变化监听间隔时间
         File change monitoring interval
         5s~60s
    -->
    <add key="MonitorInterval" value="10" />
  </appSettings>
</configuration>
