<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ServerHost" value="http://127.0.0.1/" />
    <add key="IntervalTime" value="20" />
    <add key="UploadSpeed" value="0" />
    <add key="DownloadSpeed" value="0" />
    <add key="LoginId" value="" />
    <add key="Password" value="" />
    <add key="UserSession" value="" />
    <add key="AutoLogin" value="false" />
  </appSettings>
</configuration>